<p>listado works!</p>

<a routerLink="/create">Nuevo Producto</a>


<table style="width:100%">
    <tr>
      <th>Titulo</th>
      <th>Description</th>
      <th>Price</th>
      <th>Imagenes</th>
    </tr>
    <tr *ngFor="let item of productos" class="registros">
      <td>{{item.title}}</td>
      <td>{{item.description}}</td>
      <td>{{item.price}}</td>
      <td *ngFor="let imagen of item.images " class="imagenes"><img src="http://localhost:3000/{{imagen.url}}" width="40px" alt=""></td>
      <td><a [routerLink]="['/update', item.id]">Editar</a></td>
      <td><button (click)="eliminar(item.id)">Eliminar</button></td>

    </tr>
    
  </table>